[submodule "LIBERO"]
	path = LIBERO
	url = https://github.com/Crostino14/LIBERO.git
[submodule "models/InternVLA-M1"]
	path = models/InternVLA-M1
	url = https://github.com/Crostino14/InternVLA-M1.git
[submodule "models/openvla-oft"]
	path = models/openvla-oft
	url = https://github.com/Crostino14/openvla-oft.git
[submodule "models/TinyVLA"]
	path = models/TinyVLA
	url = https://github.com/Crostino14/TinyVLA.git
